@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Swiper Pagination Styling */
.custom-swiper-pagination .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #d1e4c1 !important;
  opacity: 1 !important;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #749b3f !important;
}

.image-gallery-bullets .image-gallery-bullet {
  box-shadow: none !important;
  background-color: #749b3f !important;
  opacity: 0.4;
}

.image-gallery-bullets .image-gallery-bullet.active {
  opacity: 1;
}
